In [1]:
import requests
import pandas as pd
import os

In [2]:
url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat"
destino_local = os.path.join(os.getcwd(), "arquivo.dat")

response = requests.get(url)
if response.status_code == 200:
    with open(destino_local, 'wb') as arquivo:
        arquivo.write(response.content)
    print(f"Arquivo .dat baixado com sucesso em: {destino_local}")
else:
    print(f"Erro ao baixar o arquivo. Código de status: {response.status_code}")

Arquivo .dat baixado com sucesso em: c:\Users\rodri\OneDrive\Área de Trabalho\openflights-dataset\arquivo.dat

In [4]:
df_routes = pd.read_csv(
    os.path.join(os.getcwd(), 'arquivo.dat'))

df.head()

   2B  410  AER  2965  KZN  2990 Unnamed: 6  0  CR2
0  2B  410  ASF  2966  KZN  2990        NaN  0  CR2
1  2B  410  ASF  2966  MRV  2962        NaN  0  CR2
2  2B  410  CEK  2968  KZN  2990        NaN  0  CR2
3  2B  410  CEK  2968  OVB  4078        NaN  0  CR2
4  2B  410  DME  4029  KZN  2990        NaN  0  CR2